# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database files
*.db
*.sqlite3

# Environment variables / secrets
.env
Mcd_Scraper/.env
Mcd_Visualizer/.env
Mcd_Api/.env

# Log files
*.log

# Virtual environments
venv/

# Test directories in any subfolder
**/test/
test/

# VSCode project settings
.vscode/

# Node modules
Mcd_Visualizer/node_modules/
